<header>
  <p class="text-white text-center text-9xl tracking-tighter pt-6 font-[Anybody-Black] select-none">BEABADOOBLE</p>
</header>
<main class="mt-10">
  <div class="mx-auto max-w-lg">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
