<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>Beabadooble</title>
    <meta property="og:title" content="Beabadooble" />
    <meta property="og:url" content="https://beabadooble.com" />
    <meta property="og:description" content="Guess Beabadoobee song titles in daily puzzles." />
    <meta name="theme-color" content="#A2D7E7" />
    <meta
      name="description"
      content="Guess Beabadoobee song titles from short song clips in puzzles that switch daily!"
    />
    <link rel="preload" as="image" href="/images/bg.jpg" />
    <link rel="manifest" href="/site.webmanifest" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/main.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/main.js"}>
    </script>
  </head>
  <body class="bg-site-pattern bg-repeat">
    <%= @inner_content %>
  </body>
</html>
